.f8140faec46017976ce96ee20decfeIcon {
    width: auto;
    height: 415px;
    object-fit: cover;
  }
  .cAPDiv {
    
    letter-spacing: 0.3em;
    display: inline-block;
  }
  .frameDiv {
    margin-top: 50px;
    left: 0;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-adamina);
  }
  