.rectangleIcon {
  top: 12px;
  left: 7.5px;
  border-radius: var(--br-md);
  height: 358px;
}
.rectangleIcon1 {
  padding: 1rem;
  margin:auto;
  width: auto;
  height: 194px;
  object-fit: cover;
}
.grayCapOfCottonFabric {
  position: absolute;
  top: 200px;
  left: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
    max-width: 150;
    height: 90.2px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
}
.iconlyBoldPlus {
  position: absolute;
  height: 11.05%;
  width: 16.1%;
  top: 85.64%;
  right: 5.43%;
  bottom: 3.31%;
  left: 78.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 309px;
  left: 32px;
  font-family: var(--font-adamina);
  color: blue;
  display: inline-block;
}

.groupDiv{
  margin: 15px;
}
.groupDiv,
.saleDiv {
  position: absolute;
  /* give box shadow */
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 0;
  left: 0;
}
.saleDiv {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: var(--font-size-sm);
  font-family: var(--font-alegreya-sans-sc);
  color: white;
  padding: 2px;
  background-color: #0d6efd;
  display: inline-block;
  width: 75px;
}
.groupDiv {
  background-color: white;
  position: relative;
  max-width: 248.5px;
  /* min-height: 00px; */
  height: 370px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-font);
}
.addButton{
  text-align: center;
  padding-inline: 8px;
  background: blue;
  border-radius: 100%;
  border: 0;
  color: white;
  font-weight: bold;
}

/* fonts smaller for mobile */
@media (max-width: 768px) {
  .grayCapOfCottonFabric {
    font-size: .9rem;
  }
  .div {
    font-size: 1.3rem;
  }
  /* put less margin */

  .groupDiv {
    margin: 2px;
    height: 300px;
  }

  /* position grayCapOfCottonFabric */
  .grayCapOfCottonFabric {
    top:11rem;
    left: 15px;
    /* bottom: 100px; */
    right: 15px;
  }

  /* position div */
  .div {
    top: 15.8rem;
  left: 30px;
    /* bottom: 100px; */
  }
}